{% extends 'base.html' %} {% load static %} {% block meta %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Log In</title> 
        

{% endblock meta %}   {% block content %}

        <div class="row m-5 justify-content-center">
            <div class="col-md-8 col-sm-8 mt-5" style="color: rgb(0, 64, 121); font-weight: 700;">
                <!-- {% for message in messages %}
                <script>
                    alert("{{ message }}")
                </script>
                {% endfor %} -->
            
                <form method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}
                
                    <button style="background-color:rgb(80, 158, 226);" type="submit" class="btn btn-primary">Login</button>
                
                </form>
            </div>
        </div>
        <div class="row m-5 justify-content-center">
            <div class="col-md-8 col-sm-8">
                <h5 style="color: rgb(167, 69, 212);">Don't have an account? <a href="{% url 'story9:signup'%}">Sign up</a></h5>
            </div>        
        </div>
{% endblock content %}