{% extends 'base.html' %} {% load static %} {% block meta %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'jquery-3.5.1.js' %}"></script>
        <title>Story7</title> 
        <script src="{% static 'story7.js' %}"></script>
{% endblock meta %}   {% block content %}

  <div class="row m-5  justify-content-center">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-8 col-sm-8 mt-5 text-center ">
          <h4 id="atas">Want to know more about me?<img src="{% static 'stars.png' %}" width="30px"></h4> 
          <h4><img src="{% static 'stars.png' %}" width="30px">Tap the accordion to see the details!</h4>
      </div>
      <div class="col-md-2 col-sm-2 mt-5"><img src="{% static 'sun.png' %}" width="70px"></div>
  </div>

  <div class="container" style="font-family: 'Playfair Display', serif; ">
          <div id="accord-1">
              <h3>Activities <img src="{% static 'rainbow.png' %}" width="30px">
                  <span style="float: right;">
                      <button style="font-size: 20px;" class="button-up" ><i class="fas fa-angle-up"></i></button>
                      <button style="font-size: 20px;" class="button-down" ><i class="fas fa-angle-down"></i></button>
                  </span>
              </h3>
              <div class="isi-1">
                  <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td>Kuliah</td>
                        </tr>
                        <tr>
                          <td>Ikut Kepanitiaan</td>
                        </tr>
                        <tr>
                          <td>haha hihi</td>
                        </tr>
                      </tbody>
                    </table>             
              </div>
          </div>

          <div id="accord-2">
              <h3>Experiences <img src="{% static 'tv.png' %}" width="30px">
                  <span style="float: right;">
                      <button class="button-up" style="font-size: 20px;"><i class="fas fa-angle-up"></i></button>
                      <button class="button-down" style="font-size: 20px;"><i class="fas fa-angle-down"></i></button>
                  </span>
              </h3>
              <div class="isi-2">
                  <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td><a href="https://perak.cs.ui.ac.id/">Secretary of PERAK Fasilkom UI</a></td>
                          <td>2019 - now</td>
                        </tr>
                        <tr>
                          <td><a href="https://compfest.id/">Staff of  Stage Compfest Fasilkom UI</a></td>
                          <td>2019 - now</td>
                        </tr>
                        <tr>
                          <td><a href="https://oh.cs.ui.ac.id/">Staff of  Dankom Open House Fasilkom UI</a></td>
                          <td>2020 - now</td>
                        </tr>
                        <tr>
                          <td><a href="">Secretary of Wisuda Ganjil 2021 Fasilkom UI</a></td>
                          <td>2020 - now</td>
                        </tr>
                      </tbody>
                    </table>           
              </div>
          </div>

          <div id="accord-3">
              <h3>Hobbies <img src="{% static 'game.png' %}" width="30px">
                  <span style="float: right;">
                      <button class="button-up" style="font-size: 20px;"><i class="fas fa-angle-up"></i></button>
                      <button class="button-down" style="font-size: 20px;"><i class="fas fa-angle-down"></i></button>
                  </span>
              </h3>
              <div class="isi-3">
                  <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td>Watch films</td>
                        </tr>
                        <tr>
                          <td>Playing badminton</td>
                        </tr>
                        <tr>
                          <td>Hang out</td>
                        </tr>
                      </tbody>
                    </table>          
              </div>
          </div>

          <div id="accord-4">
              <h3>Happiness <img src="{% static 'donut.png' %}" width="30px">
                  <span style="float: right;">
                      <button class="button-up" style="font-size: 20px;"><i class="fas fa-angle-up"></i></button>
                      <button class="button-down" style="font-size: 20px;"><i class="fas fa-angle-down"></i></button>
                  </span>
              </h3>
              <div class="isi-4">
                <table class="table table-hover">
                  <tbody>
                      <tr>
                        <td>CATS</td>
                      </tr>
                  </tbody>
                  </table>                
            </div>
        </div>

  </div>

  <div class="row m-2  justify-content-center">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8 mt-5 ">
      <img src="{% static 'cloudy.png' %}" width="80px">
    </div>
    <div class="col-md-2 col-sm-2 mt-5"></div>
</div>




{% endblock content %}