/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;669;800;900&display=swap');

body {
  font-family: 'Playfair Display', serif;
  color: #193f08;
  overflow-x: hidden;
  width: 100vw;
}


/* story8 */
input[type=text] {
  border: none;
  border-bottom: 5px solid #bc98ff;
}
input[type=email] {
  border: none;
  border-bottom: 5px solid #bc98ff;
}
input[type=password] {
  border: none;
  border-bottom: 5px solid #bc98ff;
}

.search-box {
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px #ec8ebd;
  padding: 10px 20px 10px 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  background-color: #f7bbd7;
}

.search-box svg {
  color: #64ABE3;
  cursor: pointer;
  margin-right: 15px;
}

th #cover {
  /* border-radius: 0px; */
}

thead {
  background-color: #c42f68;
  text-align: center;
  color: #c7c8ff;
  box-shadow: 3px 3px 3px 3px #ec8ebd;
}

tbody {
  text-align: center;
  font-weight: bold;
  color: #e0f1ff;
  width: 100%;
  border-radius: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #ec8ebd;
  background-color: #3f2363;
}





/* story7 */
.hello{
  padding-top: 60px;
  min-height: 107vh;
  min-width: 400px;
  background-image: url('/static/pinkwall.jpg');
  background-size: cover;
  display: flex;
  text-align: center;

}

h4 {
  font-size: 10pt;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #499601;
  text-shadow:  5px 0px 5px #fbdaff, 
  -5px -5px 5px #fad2ff;
}



.isi-1 {
  box-shadow:  10px 10px 20px #ffa5da, 
  -10px -10px 20px #ffbed9;
  background-color: rgb(255, 184, 214);
}

.isi-2 {
  box-shadow:  10px 10px 20px #a5bdff, 
  -10px -10px 20px #bec4ff;
}

.isi-3 {
  box-shadow:  10px 10px 20px #a5ffe1, 
  -10px -10px 20px #beffeb;
}

.isi-4 {
  box-shadow:  10px 10px 20px #f4a5ff, 
  -10px -10px 20px #dcbeff;
}

#accord-1 h3 {
  background-color: #ffb5e3;
  font-family: 'Playfair Display', serif;
  color: #e02c62;
  font-weight: 600;
  box-shadow:  5px 0px 5px #ffa5da, 
  -5px -5px 5px #ffbed9;
}

#accord-2 h3 {
  background-color: #b5cfff;
  font-family: 'Playfair Display', serif;
  color: #0f118f;
  font-weight: 600;
  box-shadow:  5px 0px 5px #bed0ff, 
  -5px -5px 5px #bed0ff;
}

#accord-3 h3 {
  background-color: #d3ffb5;
  font-family: 'Playfair Display', serif;
  color: #0f8f49;
  font-weight: 600;
  box-shadow:  5px 0px 5px #a5ffe1, 
  -5px -5px 5px #a5ffe1;
}

#accord-4 h3 {
  background-color: #dbb5ff;
  font-family: 'Playfair Display', serif;
  color: #740c74;
  font-weight: 600;
  box-shadow:  5px 0px 5px #fbdaff, 
  -5px -5px 5px #fad2ff;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #2629b3;
}


/*Navbar elements*/
.navbar {
  background-color: rgba(253, 56, 115, 0.7);
  color: #244b12!important;
}

.navbar .navbar-brand {
  color: #244b12;
  font-weight: bold;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e14e4e;
}
.navbar .navbar-text {
  color: #244b12;
}
.navbar .navbar-text a {
  color: #e14e4e;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #e14e4e; 
}
.navbar .navbar-nav .nav-link {
  color: #244b12;
  font-weight: 600;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #e14e4e;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #e14e4e;
  background-color: #f5ff93;
}
.navbar .navbar-toggle {
  border-color: #f5ff93;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f5ff93;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #244b12;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #244b12;
}
.navbar .navbar-link {
  color: #244b12;
}
.navbar .navbar-link:hover {
  color: #e14e4e;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #6a38c7;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #244b12;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #244b12;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #244b12;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #244b12;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #e14e4e;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #e14e4e;
  background-color: #f5ff93;
}

.hometext {
  font-size: 4vw;
  font-weight: 900;
  color: #71c0ee;
  text-shadow: -1px 0 rgb(10, 2, 124), 0 1px rgb(10, 2, 124), 1px 0 rgb(10, 2, 124), 0 -1px rgb(10, 2, 124);
}

