{% extends 'base.html' %} {% load static %} {% block meta %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'jquery-3.5.1.js' %}"></script>
        <title>Story8</title> 
        <script src="{% static 'story8.js' %}"></script>
        

{% endblock meta %}   {% block content %}


<div class="section m-5">
    <div class="row mt-5"></div>
    <div class="search-box m-5" style="margin-top: 50px; display: block;">
        <div class="search-box-logo">
        </div>
        <input type="text" class="form-control" id="search" placeholder="Masukkan judul buku">
    </div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-10 col-lg-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th id="cover" scope="col">Cover</th>
                        <th id="title" scope="col">Title</th>
                        <th id="author" scope="col">Author</th>
                    </tr>
                </thead>
                <tbody>
        
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock content %}