{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;669;800;900&display=swap" rel="stylesheet">
  <!--Icon-->
  <link rel="icon" type="image/png" href="{% static 'rose.png' %}">
  <!-- Bootstrap CSS -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src='https://kit.fontawesome.com/a076d05399.js'></script>


  {% block meta %}
  {% endblock meta %}
</head>

<body style="font-family: 'Playfair Display', serif;   background-color: rgb(255, 254, 217);">
  <!-- Navigation Bar -->
<div class="offset-1 col-10 text-center">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <a class="navbar-brand active" href="{% url 'main:home' %}">Ferika <img src="{% static 'rose.png' %}" width="30px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
          <a style="color: rgb(197, 1, 83);" class="nav-link" href="{% url 'main:home' %}">Home</a>
          </li>
          <li class="nav-item">
          <a style="color: rgb(197, 1, 83);" class="nav-link" href="https://ferikahafshah.herokuapp.com/">Story1-6</a>
          </li>
          <li class="nav-item">
          <a  style="color: rgb(197, 1, 83);" class="nav-link" href="{% url 'story7:story7' %}">Story 7 </a>
          </li>
          <li class="nav-item">
            <a style="color: rgb(197, 1, 83);" class="nav-link" href="{% url 'story8:story8' %}">Story 8</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Hello {{user.username}}</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'story9:logout' %}">Log out <img src="{% static 'donut.png' %}" width="30px"></a>
          </li>

        {% else %}
          <li class="nav-item">
            <a style="color: rgb(197, 1, 83);" class="nav-link" href="{% url 'main:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story9:login' %}">Log in<img src="{% static 'stars.png' %}" width="30px"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story9:signup' %}">Sign Up<img src="{% static 'rainbow.png' %}" width="30px"></a>
          </li>
     
        {% endif %}
      </ul>
      </div>
  </nav>
  </div>
  <!-- <section class="hello" id="hello"> -->
  {% block content %}
  {% endblock content %}
  <!-- </section> -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>
