{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}

{% block content %}



<div class="text-align-center" id="welcome">
 <div class="centered" id="first">  
  <div class="row mt-5">
      <div class="col-md-1 col-sm-1"> </div>
      <div class="col-md-11 col-sm-11 mt-5">
        {% if user.is_authenticated %}
        <p class="hometext mt-5">
          Hello <span style="color: rgb(230, 62, 90);">{{user.username}}</span>,<br>This is Ferika's PPW Stroies<br>Do you want to see my stories?<br>Just clik what you want to see <br> on the navigatian bar!
          <br>
          <a href="{% url 'story9:logout'%}">Log Out<img src="{% static 'donut.png' %}" width="50px">
        </p>        
        {% else %}
        <p class="hometext mt-5">
          Hello there,<br>This is Ferika's PPW Stroies<br>Do you want to see my stories?<br><span href="{% url 'story9:login'%}">Log In first!</span>
          <br>Don't have an account? <span href="{% url 'story9:signup'%}">Sign Up!</span>

          <br>
          <a href="{% url 'story9:signup'%}">Sign Up<img src="{% static 'rainbow.png' %}" width="50px"> |</a> <a href="{% url 'story9:login'%}"> Log In<img src="{% static 'stars.png' %}" width="50px"></a>
        </p> 
        
        {% endif %}
         
      </div>
    </div>
  </div>
</div>


<div class="row m-5 justify-content-center">
    <div class="col-md-8 col-sm-8 text-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div> 
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>

    </div>
   
</div>


{% endblock content %}
