p {
    color: yellow;
}


.wadah-mengetik {
    font-weight: 900;
    color: #FFA1A1;
    /*font-size: 4.1rem;*/
    font-size: 4vw;
    margin-left: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
      width: 1000px;
      white-space:nowrap;
      overflow:hidden;
      -webkit-animation: ketik 5s steps(50, end);
      animation: ketik 5s steps(50, end);
  }
  @keyframes ketik{
          from { width: 0; }
  }
  @-webkit-keyframes ketik{
          from { width: 0; }
  }
  .yumput {
    position: absolute;
    bottom: 0px;
    object-fit: contain;
    width: 100%;
  }
  